.popoverContainer {
  position: relative;
  width: fit-content;
  display: inline-block;

  & > button {
    border: none;
    background-color: transparent;

    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-weight: 500;
    font-size: 0.875rem;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;

    cursor: help;

    &:hover ~ .popover {
      opacity: 1;
    }

    &:focus ~ .popover {
      opacity: 1;
    }
  }

  .popover {
    position: absolute;

    margin: 0;
    z-index: 10;

    opacity: 0;
    width: max-content;
    max-width: 20rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(34, 34, 34, 0.15);
    box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
    background-color: #ffffff;
    padding: 1em;
    padding-bottom: 1.25em;

    transition: opacity 0.4s ease;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    white-space: pre-line;

    &:focus {
      opacity: 1;
    }

    .heading {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5rem;
    }

    &::before {
      content: "";
      position: absolute;

      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 1px solid rgba(34, 34, 34, 0.15);
      border-left: 1px solid rgba(34, 34, 34, 0.15);
      background-color: #ffffff;
    }

    &.bottom {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1em;

      &::before {
        top: 0%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(135deg);
      }
    }

    &.leftStart {
      top: -1em;
      right: 100%;
      margin-right: 1em;

      &::before {
        top: 1em;
        right: 0;
        margin-top: 0.125em;
        transform: translateX(50%) rotate(225deg);
      }
    }
  }
}
