:root {
  --font-serif: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.icon {
  padding: 0.75rem;

  transition: transform 0.4s ease;

  &.sm {
    padding: 0.5rem;
  }

  &.md {
    padding: 0.75rem;
  }

  &.lg {
    padding: 1rem;
  }

  &.xl {
    padding: 1.5rem;
  }

  &.search {
    background: url("../assets/icon-search.svg") no-repeat center;
    background-size: contain;
  }

  &.close {
    background: url("../assets/icon-close.svg") no-repeat center;
    background-size: contain;
  }

  &.menu {
    background: url("../assets/icon-menu.svg") no-repeat center;
    background-size: contain;
  }

  &.cart {
    background: url("../assets/icon-cart.svg") no-repeat center;
    background-size: contain;
  }

  &.back {
    background: url("../assets/icon-chevron-left.svg") no-repeat center;
    background-size: contain;
  }

  &.next {
    background: url("../assets/icon-chevron-left.svg") no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
  }

  &.starBadge {
    background: url("../assets/icon-badge-star.svg") no-repeat center;
    background-size: contain;
  }

  &.star {
    background: url("../assets/icon-star.svg") no-repeat center;
    background-size: contain;
  }

  &.check {
    background: url("../assets/icon-check.svg") no-repeat center;
    background-size: contain;
  }

  &.shoppingCart {
    background: url("../assets/icon-shopping-cart-large.svg") no-repeat center;
    background-size: contain;
  }

  &.bestSellerBadge {
    background: url("../assets/icon-best-seller-badge-large.svg") no-repeat
      center;
    background-size: contain;
  }

  &.shippingTruck {
    background: url("../assets/icon-shipping-truck.svg") no-repeat center;
    background-size: contain;
  }

  &.chevronDown {
    background: url("../assets/icon-chevron-down.svg") no-repeat center;
    background-size: contain;
  }

  &.handmade {
    background: url("../assets/icon-handmade.svg") no-repeat center;
    background-size: contain;
  }
}

.textGray {
  color: #3b3b3b;
}

.textStrikethrough {
  text-decoration: line-through;
}

.textBold {
  font-weight: 600;
}

.textSmall {
  font-size: 0.875rem;
}

.textExtraLarge {
  font-size: 1.75rem;
}

.textLight {
  font-weight: 300;
}

.textSerif {
  font-family: var(--font-serif);
}

.stack > * + * {
  margin-block-start: 1rem;
}

.stackSmall > * + * {
  margin-block-start: 0.5rem;
}
