.photo {
  width: 90%;
  padding: 20px;
  display: flex;
}

.images {
  // position: relative;
  flex: 1;
  width: 100%;
  overflow: hidden;
  margin-left: 5%;
  margin-top: -1%;
}

.image {
  border-radius: 10%;
  padding-top: 20%;
  opacity: 50%;
  width: 20%;
  margin-top: 2%;
  background-size:100% 100%;
}

.image:hover {
  opacity:100%;
  transition:opacity .5s
}

.currImageCont {
  flex: 1;
}

.currImage {
  width: 160%;
  border-radius: 5%;
  margin-left: -22%;
}

.buttoncont {
  flex: 1;
  flex-direction: column;
  margin-left: -30%;
  margin-right: -32%;
  align-items: center;
  background-color: white;
}

.carselbtnleft {
  display: block;
  width: 14%;
  height: 7%;
  background-size: 100% 100%;
  border-radius: 50%;
  background-color: white;
  margin-top: 65%;
  margin-left: -12%;
  border-style: none;
  box-shadow: 0px 0px 20px 20px #F6F6F6 ;
}


.buttoncontrght {
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 30%;
  margin-right: -50%;
  margin-left: 20%;
}

.carouselbtnrght {
  display: block;
  background-color: white;
  background-size: 100% 100%;
  width: 14%;
  height: 12%;
  border-style: none;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 20px #F6F6F6;
}

.butnimg {

}