.photo {
  width: 90%;
  padding: 20px;
  display: flex;
}

.images {
  // position: relative;
  flex: 1;
  width: 100%;
  overflow: hidden;
  margin-left: 5%;
  margin-top: -1%;
}

.image {
  border-radius: 10%;
  padding-top: 20%;
  opacity: 50%;
  width: 20%;
  margin-top: 2%;
  background-size:100% 100%;
}

.image:hover {
  opacity:100%;
  transition:opacity .5s
}

.currImageCont {
  flex: 1;
}

.currImage {
  width: 140%;
  border-radius: 5%;
  margin-left: -35%;
}

.buttoncont {
  flex: 1;
  align-items: 'center';
  justify-content: 'center';
  margin-left: -50%;
  width: 120%;
}

